---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsInYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}

{% assign categories = page.categories %}
{% if categories.size > 0 %}
...
Full code for both loops:

{% assign categories = page.categories %}
{% if categories.size > 0 %}
<div class="after-post-cats">
    <ul class="tags mb-4">
        <p>Categories:</p>
        {% assign sortedCategories = categories | sort %}
        {% for category in sortedCategories %}
        <li>
            <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " "," -" }}">{{
                category }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% assign tags = page.tags %}
{% if tags.size > 0 %}
<div class="after-post-tags">
    <ul class="tags">
        <p>Tags:</p>
        {% assign sortedTags = tags | sort %}
        {% for tag in sortedTags %}
        <li>
            <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " "," -" }}">#{{ tag
                }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
